@use "sass:color";
@use "mixins/mixins";
@use "common/var";

@mixin genTheme(
  $backgroundColorWeight,
  $borderColorWeight,
  $fontColorWeight,
  $hoverColorWeight
) {
  background-color: color.mix(
    var.$tag-primary-color,
    var.$color-white,
    $backgroundColorWeight
  );
  border-color: color.mix(
    var.$tag-primary-color,
    var.$color-white,
    $borderColorWeight
  );
  color: color.mix(var.$tag-primary-color, var.$color-white, $fontColorWeight);

  @include mixins.when(hit) {
    border-color: var.$tag-primary-color;
  }

  .el-tag__close {
    color: color.mix(
      var.$tag-primary-color,
      var.$color-white,
      $fontColorWeight
    );
    &:hover {
      color: var.$color-white;
      background-color: color.mix(
        var.$tag-primary-color,
        var.$color-white,
        $hoverColorWeight
      );
    }
  }

  &.el-tag--info {
    background-color: color.mix(
      var.$tag-info-color,
      var.$color-white,
      $backgroundColorWeight
    );
    border-color: color.mix(
      var.$tag-info-color,
      var.$color-white,
      $borderColorWeight
    );
    color: color.mix(var.$tag-info-color, var.$color-white, $fontColorWeight);

    @include mixins.when(hit) {
      border-color: var.$tag-info-color;
    }

    .el-tag__close {
      color: color.mix(var.$tag-info-color, var.$color-white, $fontColorWeight);
      &:hover {
        color: var.$color-white;
        background-color: color.mix(
          var.$tag-info-color,
          var.$color-white,
          $hoverColorWeight
        );
      }
    }
  }

  &.el-tag--success {
    background-color: color.mix(
      var.$tag-success-color,
      var.$color-white,
      $backgroundColorWeight
    );
    border-color: color.mix(
      var.$tag-success-color,
      var.$color-white,
      $borderColorWeight
    );
    color: color.mix(
      var.$tag-success-color,
      var.$color-white,
      $fontColorWeight
    );

    @include mixins.when(hit) {
      border-color: var.$tag-success-color;
    }

    .el-tag__close {
      color: color.mix(
        var.$tag-success-color,
        var.$color-white,
        $fontColorWeight
      );
      &:hover {
        color: var.$color-white;
        background-color: color.mix(
          var.$tag-success-color,
          var.$color-white,
          $hoverColorWeight
        );
      }
    }
  }

  &.el-tag--warning {
    background-color: color.mix(
      var.$tag-warning-color,
      var.$color-white,
      $backgroundColorWeight
    );
    border-color: color.mix(
      var.$tag-warning-color,
      var.$color-white,
      $borderColorWeight
    );
    color: color.mix(
      var.$tag-warning-color,
      var.$color-white,
      $fontColorWeight
    );

    @include mixins.when(hit) {
      border-color: var.$tag-warning-color;
    }

    .el-tag__close {
      color: color.mix(
        var.$tag-warning-color,
        var.$color-white,
        $fontColorWeight
      );
      &:hover {
        color: var.$color-white;
        background-color: color.mix(
          var.$tag-warning-color,
          var.$color-white,
          $hoverColorWeight
        );
      }
    }
  }

  &.el-tag--danger {
    background-color: color.mix(
      var.$tag-danger-color,
      var.$color-white,
      $backgroundColorWeight
    );
    border-color: color.mix(
      var.$tag-danger-color,
      var.$color-white,
      $borderColorWeight
    );
    color: color.mix(var.$tag-danger-color, var.$color-white, $fontColorWeight);

    @include mixins.when(hit) {
      border-color: var.$tag-danger-color;
    }

    .el-tag__close {
      color: color.mix(
        var.$tag-danger-color,
        var.$color-white,
        $fontColorWeight
      );
      &:hover {
        color: var.$color-white;
        background-color: color.mix(
          var.$tag-danger-color,
          var.$color-white,
          $hoverColorWeight
        );
      }
    }
  }
}

@include mixins.b(tag) {
  @include genTheme(10%, 20%, 100%, 100%);
  display: inline-block;
  height: 32px;
  padding: var.$tag-padding;
  line-height: 30px;
  font-size: var.$tag-font-size;
  color: var.$tag-primary-color;
  border-width: 1px;
  border-style: solid;
  border-radius: var.$tag-border-radius;
  box-sizing: border-box;
  white-space: nowrap;

  .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px;

    &::before {
      display: block;
    }
  }

  @include mixins.m(dark) {
    @include genTheme(100%, 100%, 0%, 80%);
  }

  @include mixins.m(plain) {
    @include genTheme(0%, 40%, 100%, 100%);
  }

  @include mixins.m(medium) {
    height: 28px;
    line-height: 26px;

    .el-icon-close {
      transform: scale(0.8);
    }
  }

  @include mixins.m(small) {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;

    .el-icon-close {
      transform: scale(0.8);
    }
  }

  @include mixins.m(mini) {
    height: 20px;
    padding: 0 5px;
    line-height: 19px;

    .el-icon-close {
      margin-left: -3px;
      transform: scale(0.7);
    }
  }
}
